
/********************** Global Styles ***********************/
html{
  background: url(https://cdn.pixabay.com/photo/2016/07/15/22/49/pickled-cucumbers-1520638_1280.jpg)no-repeat center center fixed;
  background-size:cover;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
  
}
body {
  font-family: 'Crimson Text', serif;
  font-size: 2rem;
}
h1, h2, h4 {
  font-family: 'Luckiest Guy', cursive; 
  text-align: center; 
}

  h3, h4, h5, h6, p {
    font-size: 2.5rem;
  }

  h1, h2, h3, h5, p {
    color: whitesmoke;
  }
  .container {
    width: 100%;
    margin: 2%;
  }
/********************* Header Content ***************************/
.topContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5%;
  width: 80%;
  border: 3px solid black;
}
header {
  width: 100%;
  background: black;
}
h1  {
  font-size: 12.5rem;
}
.subHead {
  width: 100%;
  background: whitesmoke;
}
h4{
  color: black;
  
}
/************************* Middle Content ***********************/

.main-items {
  display: flex;
justify-content: space-around;
}

.menu {
  color: #F0F791 ;
  width: 50%;
  margin: 5%;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
}

.praise {
  height: 50vh;
  width: 100%;
  background: green;
  border: 2px solid white;
  padding: 30px;
  margin-top: 5%;
}
.location {
  display: flex;
  align-items: center;
  height: 20vh;
  background: black;
  border: 2px solid white;

}


h2{
  font-size: 4.5rem;
}

a {
  display: flex;
  justify-content: flex-start;
  color:white;
  background: black;
  /* text-aline: center; */
  padding: .5%;
}
/********************** Bottom Content *********************/
#poetry {
  width: 60%;
  background: #F0F791;
  border: 2px solid white;
}


#poetry h6{
  text-align: center;
}





.location{
  text-align: center; 
  margin-top: 0px;
  
}
  







